<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1 align="center">
        <a href="/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead" align="center">{{ site.description }}<br> {{ site.subdescription}}</p>
    </div>

    <nav class="sidebar-nav">
      <a align ="center" class="sidebar-nav-item{% if page.url == '/' %} active{% endif %}" href="/">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
              <a align ="center" class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <!-- <a align ="center" class="sidebar-nav-item" href="/blog_post">Blog Posts</a> -->

     <!--  <a class="sidebar-nav-item" href="/public/jerry_xu_resume.pdf">Resume</a> -->
      <span align ="center" class="sidebar-nav-item">Currently v{{ site.version }}</span>
    </nav>

    <!-- <i class="fab fa-medium"></i> -->
    

    <p align ="center"ls>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
