:root {
	--color_blue: 153, 255, 255;
	--color_purple: 199, 175, 189;
	--color_yellow: 248, 242, 218;
	--color_black: 	72,	68, 82;
	/*
	#C7AFBD

	-- for more colour information use:
	https://www.colorhexa.com/dd4b39
	*/
}
body {
	/*
	background-color: black;
	background-color: rgba(var(--color), 0.1);
	*/
	background-color: #F8F9FA;
	margin-left: 0px;
	margin-top: 0% !important;
	margin-right: 0px;
	margin-bottom: 10% !important;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

body.home_body {
	/*
	background-color: #F8F9FA;
	background-image: url("../images/Tm9oS90.jpg");
	background-color: rgba(var(--color_yellow), 0.10);
	*/
	background-color: black;

	margin-top: 0% !important;
	margin-bottom: 0% !important;

	padding-top: 15px;
	padding-bottom: 15px;

	/* Photo by RawPixel on Unsplash 
	background-image: url("../images/rawpixel_unsplash.jpg");
	background-size: cover;

	background-image: url("../images/fotis_fotopoulos_unsplash.jpg");
	background-size: cover;
	*/

}

div.background_image {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient( rgba(0, 0, 0, 0.7), 
		rgba(0, 0, 0, 0.7) ), url("../images/fotis_fotopoulos_unsplash.jpg");
	background-size: cover;
}

.darken_overlay {
	width: 100%;
 	height: 100%;
  	background-color: rgba(0, 0, 0, 0.5);
}

div.home_block {
	
	/*
	background-color: rgba(var(--color_purple), 0.25);
	*/
	margin-top: 10%;
	margin-bottom: 6.77%;
	margin-left: 10%;
	margin-right: 10%;

	max-width: 100%;
	height: auto;

	padding: 0px;
}


img {
	max-width: 100%;
	height: auto;
}

p {
	color: #484452;
	font-family: Trebuchet MS;
	margin: 15px 35px 15px 35px;
	
	/*
	text-align: center;
	*/
}

h1, h2, h3 {
	font-style: none;
	font-family: Arial Black;
	text-align: center;
	color: white;
}

h1.h_home_page {
	margin-bottom: 20px;
	/*
	color: rgba(var(--color_black), 1.0);
	*/
}

h2.h_home_page {
	margin-bottom: 20px;
	/*
	color: rgba(var(--color_black), 1.0);
	*/
}

h3.h_home_page {
	margin: 0px;
	padding: 0px;
	margin-bottom: 20px;
}

p.h_home_page {
	text-align: center; 
	display: block;
	position: relative;
	
	color: white;
	border-color: white;
	/*
	color: rgba(var(--color_black), 0.85);
  	border-color: rgba(var(--color_black), 0.85);
	*/
	border-style: solid;
  	border-width: 2.5px;

  	border-left: none;
  	border-right: none;

  	padding-top: 10.5px;
  	padding-bottom: 10.5px;

  	font-size: 20px;

  	margin-top: 15px;
  	margin-left: 25.5%;
  	margin-right: 25.5%;
}

ul.navbar_homepage{
	/*
	position: relative; 
  	overflow: auto; 
  	display: inline-block;
  	*/
  	text-align: center;
  	display: block;
  	position: relative;
  	list-style-type: none;
  	max-width: 100%;
	height: auto;
	margin: 2.5% 10% 2.5% 10%;
  	padding: 5px;

}

li.list_inline a.navbar_link_homepage:hover {
  color: white;
  text-decoration: underline;
  transition: 0.3s;

  /*
  color: black;
  */
}

/*
Put both "list" and "a" tags for hover, and 
this allows you to change their font colour. 
*/

li.list_inline {
	display: inline;
	padding: 2px 2px 2px 2px;
	margin: 5px;

	border-right: 1px white solid;
	border-spacing: 0px
	
}

li.list_inline:last-child{
	border-right: none;
}

a.navbar_link_homepage{
  display: inline;
  color: white;
  padding: 8px 4px 8px 4px;
  text-decoration: none;

  font-size: 18px;
}

ul.social_media {
	text-align: center;
	position: relative;
	padding: 10px;
	margin-top: 5%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	list-style-type: none;
}

li.social_media_item{
	display: inline-block;
	position: relative;
	margin: -17px 35px;
	/* 
	Went to negative margin in order to squeeze the Gmail logo
	and other fontawesome logos together. 

	I can upon this hack whilst trying to fix the issue for a 
	long time. 

	Turns out you can fix this by resetting the margins 
	(see ul.social_media li.social_media_item a.sm_a .fab)
	*/

}

ul.social_media li.social_media_item a.sm_a .fab{
	font-size: 25px;
	line-height: 50px; /* moves the icon down */
	transition: 0.5s;

	/*
	-webkit-backface-visibility: hidden; 
	*/

	/*
	Turns out you can fix this by resetting the .fab class 
	positioning and display properties. (Haven't tested this
	rigorously yet though...)
	*/

	/* 
	display: flex;
	position: absolute;
	padding: 0;
	margin: 0;
	margin-top: 50%;
	margin-left: 50%; 
	transition: 0.5s;
	transform: translate(-50%, -50%);
	*/
}


.fab {
	color: black;
}

ul.social_media li.social_media_item a.sm_a .far{
	font-size: 25px;
	transition: 0.5s;
	line-height: 50px; /* moves the icon down */

	/*
	-webkit-backface-visibility: hidden; 	
	*/
}

.far {
	color: black;
}

ul.social_media li.social_media_item a.sm_a .gmail{
	display: flex;
	position: absolute;
	margin-top: 50%;
	margin-left: 50%; 
	transition: 0.5s;
	transform: translate(-50%, -50%);

	/*
	display: flex;
	position: absolute;

	margin-top: 50%;
	margin-left: 50%; 
	transform: translate(-50%, -50%);
	line-height: 50px; moves the icon down 
	*/
}

ul.social_media li.social_media_item a.sm_a {
	/*
	text-align: center;
	*/
	background-color: #FEFEFE;
	position: relative;
	display: block;
	width:  50px;
	height: 50px;
	transform: perspective(1000px) rotate(-30deg) skew(25deg);
	transition: 0.5s;
	-webkit-backface-visibility: hidden; 
	box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);

	/*
	box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
	border-top: 0.1px solid black;
	border-right: 0.1px solid black;
	*/
}

ul.social_media li.social_media_item a.sm_a:before {
	content: '';
	position: absolute;
	top: 10px;
	left: -20px;
	height: 100%;
	width: 20px;
	background: #BEBEBE; /* #BEBEBE #CBCBCB #D7D7D7 */
	transition: 0.5s;
	-webkit-backface-visibility: hidden; 
	transform:  rotate(0deg) skewY(-45deg);
}

ul.social_media li.social_media_item a.sm_a:after {
	content: '';
	position: absolute;
	bottom: -20px;
	left: -10px;
	height: 20px;
	width: 50px;
	background: #D7D7D7; 
	transition: 0.5s;
	-webkit-backface-visibility: hidden;
	/* -webkit-transform-style: preserve-3d; */
	transform:  rotate(0deg) skewX(-45deg);
}

/* Creating the Gmail Logo */

/*
Credit: Captain Anonymous on CodePen.io;
*/

.gmail{
	background: black;
	position: absolute;
	width:30px;
	height:20px;
	border-radius:4px;
}

.gmail:after{
	content:'';
	position:absolute;
	left:4px;
	top:5.5px;
	border-bottom:7.5px solid white;
	border-left:11px solid white;
	border-right:11px solid white;
	border-top:6px solid transparent;
	/*
	*/
	width:0;

	transition: 0.5s;
}

.gmail:before{
	content:'';
	position:absolute;
	left:3.5px;
	top:1px;
	border-top:6.5px solid white;
	border-left:11.5px solid transparent;
	border-right:11.5px solid transparent;
	width:0;

	transition: 0.5s;
}

ul.social_media li.social_media_item a.sm_a:hover {
	transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(10px, -10px);
	box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.5);
	-webkit-backface-visibility: hidden; 
	
	/*
	border-top: none;
	border-right: none;
	*/
}

ul.social_media li.social_media_item:hover .fab {
	color: white;
}

ul.social_media li.social_media_item:hover .far {
	color: white;
}

ul.social_media li.social_media_item:hover:nth-child(1) a.sm_a {
	background: #0077B5;
}

ul.social_media li.social_media_item:hover:nth-child(1) a.sm_a:before {
	background: #005582;
}

ul.social_media li.social_media_item:hover:nth-child(1) a.sm_a:after {
	background: #0088CF;
}

ul.social_media li.social_media_item:hover:nth-child(2) a.sm_a {
	background: #0D0D0D;
}

ul.social_media li.social_media_item:hover:nth-child(2) a.sm_a:before {
	background: #000000;
}

ul.social_media li.social_media_item:hover:nth-child(2) a.sm_a:after {
	background: #1A1A1A;
}

/* shades of red --> 		  #C23321, #C71610 & #E15F4F */
/* Gmail logo scheme 1 -->    #AF130E, #C71610 & #ED241D */
/* Gmail logo scheme 1 -->    #B61915, #E41F1A & #E73530 */
/* Google Plus --> 			  #B23121, #D44638 & #E15F4F */
/* Gmail skin color tones --> #DFDCC6, #E8E6D6 & #F1F0E6 #FAFAF7*/

ul.social_media li.social_media_item:hover:nth-child(3) a.sm_a {
	background: #ED251E; 
} 

ul.social_media li.social_media_item:hover:nth-child(3) a.sm_a:before {
	background: #C71610; 
} 

ul.social_media li.social_media_item:hover:nth-child(3) a.sm_a:after {
	background: #EF3C35;
} 

/*

ul.social_media li.social_media_item:hover:nth-child(3) a.sm_a {
	background: #FAFAFA; 
} 

ul.social_media li.social_media_item:hover:nth-child(3) a.sm_a:before {
	background: #FAFAFA; 
} 

ul.social_media li.social_media_item:hover:nth-child(3) a.sm_a:after {
	background: #F7F7F7;
}
*/

ul.social_media li.social_media_item:hover:nth-child(4) a.sm_a {
	background: #09B83E;
}

ul.social_media li.social_media_item:hover:nth-child(4) a.sm_a:before {
	background: #07872E;
}

ul.social_media li.social_media_item:hover:nth-child(4) a.sm_a:after {
	background: #0AD046;
}

ul.social_media li.social_media_item:hover:nth-child(4) a.sm_a {
	background: #09B83E;
}

ul.social_media li.social_media_item:hover:nth-child(4) a.sm_a:before {
	background: #07872E;
}

ul.social_media li.social_media_item:hover:nth-child(4) a.sm_a:after {
	background: #0AD046;
}

ul.social_media li.social_media_item:hover:nth-child(5) a.sm_a {
	background: #0D0D0D; 
} 

ul.social_media li.social_media_item:hover:nth-child(5) a.sm_a:before {
	background: #000000; 
} 

ul.social_media li.social_media_item:hover:nth-child(5) a.sm_a:after {
	background: #1A1A1A;  
}

/* RED COLOUR GMAIL LOGO */

ul.social_media li.social_media_item:hover .gmail{
	margin:4px auto;
	background: white;
	width:30px;
	height:20px;
	border-radius:4px;
	position:relative;
}

ul.social_media li.social_media_item:hover .gmail:after {
	content:'';
	position:absolute;
	left:4px;
	top:5.5px;
	border-bottom: 7.5px solid #E41F1A; /* !!IMPORTANT: in order to create the outline effect, reduce border when hovering */
	border-left:11px solid #E41F1A;
	border-right:11px solid #E41F1A;
	width:0;

	transition: 0.5s;
}

ul.social_media li.social_media_item:hover .gmail:before{
	content:'';
	position:absolute;
	left:3.5px;
	top:1px; /* !!IMPORTANT: in order to create the outline effect, we reduce border by 1px */
	border-top:6.5px solid #E41F1A;
	border-left:11.5px solid white;
	border-right:11.5px solid white;
	width:0;

} 

/*********************/
/* SKIN COLOUR GMAIL */
/*********************/

ul.social_media li.social_media_item a#gmail2.sm_a .gmail {
	display: flex;
	position: absolute;
	margin-top: 50%;
	margin-left: 50%; 
	transition: 0.5s;
	transform: translate(-50%, -50%);

	/*
	display: flex;
	position: absolute;

	margin-top: 50%;
	margin-left: 50%; 
	transform: translate(-50%, -50%);
	line-height: 50px; moves the icon down 
	*/
}

ul.social_media li.social_media_item:hover #gmail2 .gmail{
	margin:4px auto;
	background: #E41F1A; 
	width:30px;
	height:20px;
	border-radius:4px;
	position:relative;
	/*
	border: 1px solid #F1F0E6;
	*/
}

ul.social_media li.social_media_item:hover #gmail2 .gmail:after {
	content:'';
	position:absolute;
	left:4px;
	top:5.5px;
	border-bottom: 7.5px solid #F1F0E6; /* !!IMPORTANT: in order to create the outline effect, reduce border when hovering */
	border-left:11px solid #F1F0E6;
	border-right:11px solid #F1F0E6;
	width:0;

	transition: 0.5s;
}

ul.social_media li.social_media_item:hover #gmail2 .gmail:before {
	content:'';
	position:absolute;
	left:3.5px;
	top:1px; /* !!IMPORTANT: in order to create the outline effect, we reduce border by 1px */
	border-top:6.5px solid #F1F0E6;
	border-left:11.5px solid #E41F1A; 
	border-right:11.5px solid #E41F1A; 
	width:0;

}


/*
ul.social_media li.social_media_item:hover:nth-child(5) a.sm_a {
	background: #F1F0E6; 
} 

ul.social_media li.social_media_item:hover:nth-child(5) a.sm_a:before {
	background: #DFDCC6; 
} 

ul.social_media li.social_media_item:hover:nth-child(5) a.sm_a:after {
	background: #F1F0E7;  
}
#FAFAF7 -- delete this if you use it
*/

/***************************/
/* MODAL WINDOW FOR WECHAT */
/***************************/

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 5%; /* Location of the box */
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	left: 0;
	top: 0;
	/*
	overflow: auto; 
	/* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.WeChat_QR {
	background-color: #FEFEFE;
	position: relative;
	/*
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	*/ 
	margin: auto;
	padding: 10px;
	border: 1px solid #888;
	width: 70%;
	height: 80%;
}

img#QR_code {
	position: relative;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -60%);
	overflow: hidden;
	max-width:80%;
	max-height:80%;

	/*
	max-width:100%;
	max-height:100%;
	*/


	/* This does not work? */
	/*
	object-position: 50% 50%;
	object-fit: contain;
	*/
}

p#modal_message {
	text-align: center;
	position: absolute;
	top:  5%;
	left: 25%;
	right: 25%;
	transform: translate(-0%, -0%);
	color: #484452;
	font-family: Trebuchet MS;
	margin: 15px 35px 15px 35px;
}


/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

#profile_picture_homepage {
	height: auto;
	position: relative;
	display: block;
	border-radius: 50%;
	margin-left:auto;
	margin-right:auto; 
	max-width: 15%;

	border-style: solid;
  	border-color: black;
  	border-width: 2.5px;

	overflow: auto;

	/*
	padding-top: 20px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
	*/
}

#profile_picture:hover {
	background-color: rgba(var(--color_black), 1.0);
}

#profile_picture_homepage:hover {
	background-color: rgba(var(--color_black), 1.0);
}
