{% extends "pages.html" %}
{% block content %}
	<div id="item_to_be_spied_on" data-spy="scroll" data-target="#about_page" data-offset="180">

		<h1 id="title">ABOUT ME</h1>

		<p>My name is Jerry.</p>

		<h2 id="spy1"> tldr; </h2>

		<p> stats and cs grad from Usyd currently working at CommBank as a data scientist. In my spare time I enjoy sitting down and really trying to understand math. </p>

		<p> At some point in my life I was also a language student and this pointed me to Standord's NLP lectures and deep learning. </p>

		<p> Also interested in basically everything about China. </p>


		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>

		<h2 id="spy2"> Early Years </h2>

		<p> I was a kid that made every mistake possible to get to where I am today. Pains me to admit that I'm not a genius but proud to say that I've kept going inspite of that. </p>

		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>

		<h2 id="spy3"> Profession </h2>

		<p> Happy to annouce to the world that I've decided to dedicate the rest of my life to math, computer science and entrepreneurship, and currently that is the order of priority. </p>

		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>

		<h2 id="spy4"> Hobbies & Interests </h2>

		<p> Using to participate in Taekwon-Do competitions at the national level, chess at the state level and currently learning mixed martial arts. </p>

		<p> Also trying to understand how this world works better. </p>

		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>

		<p style="text-align:center"><a href="#title">Back to top</a></p>

	</div>

{% endblock %}

{% block right_column %}

<div id="about_page" class="list-group"> 
  <a class="list-group-item active list-group-item-action" href="#spy1">tldr;</a>
  <a class="list-group-item list-group-item-action" href="#spy2">Early Years</a>
  <a class="list-group-item list-group-item-action" href="#spy3">Profession</a>
  <a class="list-group-item list-group-item-action" href="#spy4">Hobbies & Interests</a>
</div>

{% endblock %}